<h1>New Todo Form</h1>
<form action="/todos" method="post">
    <label>Person Name</label>
    <input type="text" name="todo[person_name]">
    <label>Todo Content</label>
    <input type="text" name="todo[content]">
    <input type="submit">
</form>